@import url("https://s.lolstatic.com/awesomefonts/1.0.0/lol-fonts.css");

body {
    color: #94724D;
    font-family: "Spiegel-Regular", sans-serif;
    font-size: 14px;
    width: 500px;
    background-image: url("https://cdn.leagueoflegends.com/apollo/assets/blue_magic.jpg");
    background-position: center 540px;
    background-repeat: repeat-y
}

body a,
body a:visited {
    color: #94724D
}

body .byline {
    color: #135866 !important
}

a {
    background: transparent
    color: #94724D;
    text-decoration: none
}

a:focus {
    outline: thin dotted
}

a:hover {
    text-decoration: underline
}

a:active {
    color: #CAB5A2
}

#my-updates {
    padding: 0px
}

#my-updates .empty-state {
    padding: 20px;
    text-align: center
}

#my-updates .update-item {
    border: 1px solid #195657;
    /*margin-bottom: 10px;*/
    background-color: #022127
}

#my-updates .update-item .parent-comment {
    background-color: #01161A;
    border-bottom: 1px solid #123a3b;
    padding: 10px 13px 5px;
    font-size: 12px;
    cursor: pointer
}

#my-updates .update-item .parent-comment .content {
    padding: 0px;
    display: block;
    float: left;
    margin-right: 5px;
    font-size: 14px;
    line-height: 1em;
    color: #94724D;
    max-width: 600px
}

#my-updates .update-item .comment {
    padding: 10px
}

#my-updates .update-item .comment .header {
    padding-top: 5px;
    font-size: 12px;
    /*margin-bottom: 10px*/
}

#my-updates .update-item .comment .header .inline-profile .icon,
#my-updates .update-item .comment .header .inline-profile .icon img {
    width: 28px;
    height: 28px
}

#my-updates .update-item .comment .header .inline-profile .icon {
    margin-top: -7px
}

#my-updates .update-item .comment .body {
    font-size: 15px;
    line-height: 1.5em;
    color: #B09C87;
    padding-left: 35px;
    max-width: 720px
}

#my-updates .update-item .comment .footer {
    font-size: 12px;
    text-transform: uppercase;
    color: #707070
}

#my-updates .update-item .comment .footer a {
    display: inline-block
}

#my-updates .update-item .comment .footer a:first-child {
    padding-right: 10px
}

#my-updates .update-item .comment .footer a:only-child {
    padding-right: 0px
}

#my-updates .riot-fist { 
	background-image:url("http://boards.las.leagueoflegends.com/images/sprite-master-f092f118123c35787b367f855ea0125b.png") !important;
	background-position:-444px -41px !important;
	width:16px !important;
	height:16px !important;
	background-size:auto !important
}

button {
    /*display: block;*/
    background-color: #553621;
    font-family: "Constantia", "Palatino", "Georgia", serif;
    font-variant: small-caps;
    color: #CAB5A2;
    /*font-size: 18px;
    padding: 10px 0px;*/

    letter-spacing: 1px;
    border: 1px solid black;
    outline: 1px solid #553621;
    text-align: center
    line-height: normal;

    text-transform: none;

    /*font-family: inherit;
    font-size: 100%;*/
    margin: 0;

    font-size: 12px;
    padding: 10px 20px;

    -webkit-appearance: button;
    cursor: pointer;
}

button:hover {
    outline: 1px solid #CAB5A2;
    text-decoration: none
}

#footer {
    display: inline-block;
    margin-top: 10px
}

#footer button + button {
    margin-left: 10px
}

#footer .disclaimer {
    display: none;
    text-align: center;
}

#footer .disclaimer .legal {
    font-size: 10px
}

h1 {
    font-size: 2em;
    margin: 0.67em 0
}

abbr[title] {
    border-bottom: 1px dotted
}

b,
strong {
    font-weight: bold
}

dfn {
    font-style: italic
}

hr {
    -moz-box-sizing: content-box;
    box-sizing: content-box;
    height: 0
}

mark {
    background: #ff0;
    color: #000
}

code,
kbd,
pre,
samp {
    font-family: monospace, serif;
    font-size: 1em
}

pre {
    white-space: pre-wrap
}

q {
    quotes: "\201C" "\201D" "\2018" "\2019"
}

small {
    font-size: 80%
}

sub,
sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline
}

sup {
    top: -0.5em
}

sub {
    bottom: -0.25em
}

img {
    border: 0
}

svg:not(:root) {
    overflow: hidden
}

figure {
    margin: 0
}

fieldset {
    border: 1px solid #c0c0c0;
    margin: 0 2px;
    padding: 0.35em 0.625em 0.75em
}

legend {
    border: 0;
    padding: 0
}
