body {
    color: #94724D;
    font-family: "Spiegel-Regular", sans-serif;
    font-size: 14px;
    width: 500px;
    background-image: url("/images/blue_magic.jpg");
    background-position: center 540px;
    background-repeat: repeat-y
}
 
body a,
body a:visited {
    color: #94724D
}
 
body .byline {
    color: #135866 !important
}
 
a {
    background: transparent
    color: #94724D;
    text-decoration: none
}
 
a:focus {
    outline: thin dotted
}
 
a:hover {
    text-decoration: underline
}
 
a:active {
    color: #CAB5A2
}
 
#my-updates {
    padding: 0px
}
 
#my-updates .update-item {
    border: 1px solid #195657;
    margin-bottom: 10px;
    background-color: #022127
}
 
#my-updates .update-item .empty-state {
    text-align: center
}
 
#my-updates .update-item .parent-comment {
    background-color: #01161A;
    border-bottom: 1px solid #123a3b;
    padding: 10px 13px 5px;
    font-size: 12px;
    cursor: pointer
}
 
#my-updates .update-item .comment {
    padding: 10px;
    padding-top: 3px;
}
 
#my-updates .update-item .comment .header {
    font-size: 12px;
    margin-top: -5px
}
 
#my-updates .update-item .comment .header .inline-profile .icon,
#my-updates .update-item .comment .header .inline-profile .icon img {
    width: 28px;
    height: 28px;
    vertical-align: middle;
    margin-top: 9px;
}
 
#my-updates .update-item .comment .header .inline-profile .icon {
    
}

#my-updates .update-item .comment .header .inline-profile .username {
    padding-left: 3px
}
 
#my-updates .update-item .comment .body {
    font-size: 15px;
    line-height: 1.5em;
    color: #B09C87;
    padding-left: 35px;
    max-width: 720px;
    margin-top: -15px
}
 
#my-updates .update-item .comment .footer {
    font-size: 12px;
    text-transform: uppercase;
    color: #707070
}
 
#my-updates .update-item .comment .footer a {
    display: inline-block
}
 
#my-updates .update-item .comment .footer a:first-child {
    padding-right: 10px;
	padding-top: 7px
}
 
#my-updates .update-item .comment .footer a:second-child {
    padding-right: 20px
}
 
#my-updates .update-item .comment .footer a:only-child {
    padding-right: 0px
}
 
button {
    background-color: #553621;
    font-family: "Constantia", "Palatino", "Georgia", serif;
    font-variant: small-caps;
    color: #CAB5A2;
 
    letter-spacing: 1px;
    border: 1px solid black;
    outline: 1px solid #553621;
    text-align: center
    line-height: normal;
 
    text-transform: none;
 
    margin: 0;
 
    font-size: 12px;
    padding: 10px 20px;
 
    -webkit-appearance: button;
    cursor: pointer;
}
 
button:hover {
    outline: 1px solid #CAB5A2;
    text-decoration: none
}
 
#footer {
    margin: auto;
    text-align: center
}
 
#footer button + button {
    margin-left: 10px
}
 
#footer .disclaimer {
    display: none;
    text-align: center;
}
 
#footer .disclaimer .legal {
    font-size: 10px
}
 
img {
    border: 0
}